<% layout('/layouts/boilerplate') %>
  <div class="row">
    <div class="col-6 px-3">
      <div class="card mb-5">
        <img class="card-img-top" src="<%= campground.image %>">
        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title %>
          </h5>
          <p class="card-text">
            <%= campground.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            <%= campground.location %>
          </li>
          <li class="list-group-item text-muted">
            Uploaded by <%= campground.author.username %>
          </li>
          <li class="list-group-item">$<%= campground.price %>/night</li>
        </ul>
        <% if(loggedUser&&loggedUser._id.equals(campground.author._id)){ %>
        <div class="card-body">
          <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn bg-info text-light">Edit</a>
          <form action="/campgrounds/<%= campground._id %>?_method=DELETE" class="d-inline" method="POST">
            <button class="bg-danger btn text-light">Delete campground</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
    <div class="col-6 px-3">
      
      <h2 class="mb-4">Add your review !</h2>
      <form action="/campgrounds/<%= campground._id %>/reviews" method="POST"
        class="bootstrap-validated mb-3" novalidate>
        <%- include('../partials/starRating') %>
        <div class="form-group mb-3">
          <label for="text" class="form-label">Leave a comment</label>
          <textarea type="text" required class="form-control" id="text" placeholder="Review text" name="review[text]"
            ></textarea>
          <%- include('../partials/inputFeedback') %>
        </div>
        <button class="btn btn-success mt-1 mb-4">Submit</button>
      </form>
     
      <% for(const review of campground.reviews){ %>
        <div class="card mb-3">
          <div class="card-body">
            <h6 class="card-title"><%= review.author.username %></h6>
            <h5 class="card-title">
              <p class="starability-result" data-rating="<%= review.rating %>"></p>
            </h5>
            <div class="card-text mb-3">
              <%= review.text %>
            </div>
            <!-- <% if(loggedUser&&loggedUser._id.equals(review.author._id)){ %> -->
            <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">
                Delete
              </button>
            </form>
            <% } %>
          </div>
        </div>
      <% } %>
     
    </div>
  </div>