<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-5">
      <img class="card-img-top" src="<%= campground.image %>">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">$<%= campground.price %>/night</li>
      </ul>
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn bg-info text-light">Edit</a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" class="d-inline" method="POST">
          <button class="bg-danger btn text-light">Delete campground</button>
      </form>
      </div>
    </div>
  </div>
</div>
    
